html, body{
  height: 100%;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('img/background.jpg');
}

hr{
  width: 100%;
}

footer{
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: #f3b;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2px 0;
}

footer a{
  color: #f6d;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}

.checkered{
  background-image: linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd),
                    linear-gradient(45deg, #ddd 25%, #eee 25%, #eee 75%, #ddd 75%, #ddd);
  background-size: 16px 16px;
  background-position: 0 0, 8px 8px;
}

.pixelart{
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
}

.resizable{
  resize: both;
  overflow: hidden;
}

.hidden{
  display: none;
}

.separator-3d-viewers{
  border-right: 1px solid grey;
}

.note{
  font-style: italic;
  font-size: .8em;
  max-width: 280px;
}

#content{
  display: flex;
}

#content, #content > *{
  margin: 5px;
}

#container-2d-viewer{
  width: 512px;
  height: 512px;
  box-sizing: content-box;
  border: 1px solid black;
  padding: 8px;
  margin-bottom: 5px;
  flex-shrink: 0;
}

#skin-viewer-2d{
  width: 100%;
  height: 100%;
  border: 1px dashed rgba(150, 150, 150, 0.4);
}

#skin-viewer-3d-steve *{
  background-image: url('img/steve.png');
}

#skin-viewer-3d-alex *{
  background-image: url('img/alex.png');
}

#container-3d-viewers{
  background-image: url('img/3d-background.png'); /* Author: https://pixabay.com/users/tommyvideo-3092371/ */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}

#container-3d-viewers, #container-3d-viewer-labels{
  display: flex;
  justify-content: space-around;
}

#container-3d-viewers > :not(.separator-3d-viewers){
  margin: 15px 100px 20px;
}

#container-3d-viewer-labels *{
  font-weight: bold;
  border: 1px dotted grey;
  padding: 1px 4px;
  border-radius: 5px;
  margin-top: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}

#container-left, #container-2d-viewer{
  box-shadow: 7px 8px 10px 1px rgba(0,0,0,0.6);
}

#container-left{
  height: 512px;
  border: 1px solid black;
  padding: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #d4effd;
}

#container-bottom{
  display: flex;
  justify-content: space-between;
}

#container-bottom label{
  display: inline-block;
  min-width: 120px;
}

#form{
  min-width: 435px;
}

#form, #container-bottom-right{
  padding: 8px;
}

#form *, #container-bottom-right *{
  margin: 2px;
}

#form input{
  min-width: 100px;
}

#resetButton{
  margin-left: 130px;
}

#container-bottom-right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

#viewer-visibility{
  min-width: 148px;
}
